.AppWrapper {
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-areas:
      "header header header"
      "content content content"
      "nav nav nav";
    grid-template-rows: 65px 1fr 65px;
    grid-template-columns: 1fr 1fr 1fr;
}
.AppWrapper_header {
    grid-area: header;
    background-color: brown;
}
.AppWrapper_content {
    grid-area: content;
    background-color: blueviolet;
}
.AppWrapper_nav {
    grid-area: nav;
    background-color: blue;
}

